In [86]:
import pandas as pd

In [87]:
data = pd.read_csv("./tempdata.csv")

In [88]:
print(data)

              timestamp  temperature
0   2025-07-20T08:00:00         41.2
1   2025-07-20T11:00:00         40.5
2   2025-07-20T13:00:00         41.8
3   2025-07-20T16:00:00         40.1
4   2025-07-21T07:00:00         29.7
5   2025-07-21T10:00:00         31.4
6   2025-07-21T14:00:00         33.2
7   2025-07-22T09:00:00         40.9
8   2025-07-22T12:00:00         42.1
9   2025-07-22T15:00:00         41.6
10  2025-07-22T18:00:00         40.3
11  2025-07-23T08:00:00         30.6
12  2025-07-23T11:00:00         32.7
13  2025-07-23T13:00:00         33.5
14  2025-07-24T07:00:00         41.4
15  2025-07-24T09:00:00         42.3
16  2025-07-24T12:00:00         40.2
17  2025-07-24T15:00:00         41.1

In [89]:
from datetime import datetime
Date = str(data['timestamp'])

data['timestamp'] = [datetime.fromisoformat(x).date() for x in data['timestamp']]

print(data['timestamp'])

0     2025-07-20
1     2025-07-20
2     2025-07-20
3     2025-07-20
4     2025-07-21
5     2025-07-21
6     2025-07-21
7     2025-07-22
8     2025-07-22
9     2025-07-22
10    2025-07-22
11    2025-07-23
12    2025-07-23
13    2025-07-23
14    2025-07-24
15    2025-07-24
16    2025-07-24
17    2025-07-24
Name: timestamp, dtype: object

In [90]:
data2 = data.groupby('timestamp')['temperature'].apply(list)
data3 = data['timestamp'].unique()
print(data2,data3)

timestamp
2025-07-20    [41.2, 40.5, 41.8, 40.1]
2025-07-21          [29.7, 31.4, 33.2]
2025-07-22    [40.9, 42.1, 41.6, 40.3]
2025-07-23          [30.6, 32.7, 33.5]
2025-07-24    [41.4, 42.3, 40.2, 41.1]
Name: temperature, dtype: object [datetime.date(2025, 7, 20) datetime.date(2025, 7, 21)
 datetime.date(2025, 7, 22) datetime.date(2025, 7, 23)
 datetime.date(2025, 7, 24)]

In [91]:
Ans = {
    "Date" : [],
    "min" : [],
    "max" : [],
    "avg" : [],
    "Risk" : []
}

In [92]:
isTruble = 'N0'
sum = 0
avg = 0
index = 0

for x in data2:
  for y in x:
    sum += y
    if y > 40:
      isTruble = 'Yes'
  avg = sum / len(x)

  Ans['Date'].append(data3[index])
  Ans['min'].append(min(x))
  Ans['max'].append(max(x))
  Ans['avg'].append(round(avg,2))
  Ans['Risk'].append(isTruble)

  isTruble ='NO'
  sum = 0
  index = index + 1

In [93]:
df = pd.DataFrame(Ans)
print(df)

         Date   min   max    avg Risk
0  2025-07-20  40.1  41.8  40.90  Yes
1  2025-07-21  29.7  33.2  31.43   NO
2  2025-07-22  40.3  42.1  41.22  Yes
3  2025-07-23  30.6  33.5  32.27   NO
4  2025-07-24  40.2  42.3  41.25  Yes

In [96]:
# with open('Temperature_Analysis.csv', 'w', newline='') as csvfile:
#     fieldnames = ['Date', 'min', 'max', 'avg','Risk']
#     writer = csv.DictWriter(csvfile, fieldnames=fieldnames)
#     writer.writeheader()
#     writer.writerows(df)

df.to_csv("Temperature_Analysis.csv",index=False)

print("Temperature Analysis File should be created successfully.")

Temperature Analysis File should be created successfully.

In [97]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).